@model EducationPortal.Presentation.ViewModels.PageViewModel<Task1.BL.DTO.StudentDto>
@{
    ViewData["Title"] = "Students";
}

<h2>@ViewData["Title"]</h2>

@Html.ActionLink("👨‍🎓 Add Student", "Add", "Students")

@if (Model.Items.Count == 0)
{
    <p>No items found</p>
    return;
}

<table class="table">
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Group</th>
        <th>Actions</th>
    </tr>
    @for(int i = 0; i < Model.Items.Count; i++)
    {
        <tr>
            @{
                int no = i + 1 + (Model.Page - 1) * Model.PageSize;
            }
            <td>@no</td>
            <td>@Model.Items[i].Name</td>
            <td>@Model.Items[i].Group</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = @Model.Items[i].Id })
                @Html.ActionLink("Delete", "Delete", new { id = @Model.Items[i].Id })
            </td>
        </tr>
    }
</table>

<ul class="pagination">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <li class="@(i == Model.Page ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.PageSize})">@i</a>
        </li>
    }
</ul>